* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

.button {
	color: #cc0000;
}

/*.navbar {
	width: 100%;
	z-index: 1;
	background-color: #990000;
}*/

/*.nav {
	color: #990000;
}*/

/*.carousel-item {
	width: 100vw;
	height: 100vh;
}*/

/*#Slide1, #Slide2, #Slide3, #Slide4, #Slide5, #Slide6 {
	height: 100vh;
	width: 100%;
}*/

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/*Mobile*/
@media only screen and (max-width: 400px) {
}	